# Node.js
node_modules/
dist/
.env

# Logs
logs/
*.log
npm-debug.log*

# OS / IDEs
.DS_Store
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Frontend & Backend
frontend/node_modules/
backend/node_modules/
frontend/.next/
frontend/dist/
backend/dist/
